doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
	body
		#main_container.container
			h1 Hello, World!
			p This is a paragraph
	footer
		#foot_container.container
			h5 Goodbye, World!
			p This is another paragraph

